.App {
  background-color: #282c34;
  height: 100px !important;
}
.img-logo{
  margin: 0 !important;
}
.App-header {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.img-logo, .spin-logo {
  height: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .spin-logo {
    animation: spin-logo-spin infinite 20s linear;
  }
}

@keyframes spin-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
